.portfolioContainer{
    width: 100%;
    font-size: 22px;
    }

    .headingContainer{
        padding: 2.5rem;
    }

    @media (min-width: 768px) {
        .headingContainer {
          padding: 5.5rem; /* Padding for tablet and larger screens */
        }
    }

    .sitesContainer{
        display:flex;
        flex-wrap: wrap;
      
    }

    @media (min-width: 768px) {
        .sitesContainer {
         display: flex;
        justify-content: space-between;
        }
    }

  